
<div>
    <h1 class="welcome">Welcome to the Portal!</h1>
</div>

<div class="grid-container">
    <mat-grid-list cols="2" #grid rowHeight="300px" gutterSize="20px">

        <mat-grid-tile>
          <img 
          src="https://www.impactplus.com/hubfs/blog-image-uploads/best-about-us-pages.jpg" 
          alt=""
          class="img-aboutus">
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-card class="example-card">
            <mat-card-title  class="card-title">Know Your Portal</mat-card-title>
            <mat-card-content class="card-content">
               <p>
                Portal is made to help students in their registration
                Check student database and also to have a look at the 
                ongoing academic and extra-curricular activities.
               </p>
               <p>
                 However the Portal is in it's intial stages
                 of development and will improvise gradually 
                 during later phases. Also portal invites suggestion from users
                 for making it more user-friendly.
               </p>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>

     
        <mat-grid-tile>
             <div class="internalMatGrid">
                <mat-grid-list #internalGrid cols="1" rowHeight="150px">
                  <mat-grid-tile>
                    <img 
                    src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/old-books-arranged-on-shelf-royalty-free-image-1572384534.jpg" 
                    alt=""
                    class="img-internal"
                    >
                  </mat-grid-tile>
                  <mat-grid-tile>
                    <mat-card class="example-card">
                        <mat-card-title class="card-title-internal">One Stop for all Information</mat-card-title>
                        <mat-card-content class="card-content-internal">
                          
                           Portal Combines multifacet aspects of 
                           Student life. Also it saves time as 
                           it caters all the information at One
                           single place.
                          
                        </mat-card-content>
                      </mat-card>
                  </mat-grid-tile>
                </mat-grid-list>
              </div>
        </mat-grid-tile>

        <mat-grid-tile>
          <img 
          src="https://www.incimages.com/uploaded_files/image/1920x1080/getty_513881682_2000124120009280226_343051.jpg" 
          alt=""
          class="img-aboutus">
        </mat-grid-tile>

      </mat-grid-list>

</div>