
<div class="page-content page-container" id="page-content">
    <div class="padding">
        <div class="row container d-flex justify-content-center">
            <div class="col-xl-6 col-md-12 user-card-parent">
                <div class="card user-card-full">
                    <div class="row m-l-0 m-r-0">
                        <div class="col-sm-4 bg-c-lite-green user-profile">
                            <div class="card-block text-center text-white" style="text-align: center;">
                                <div class="m-b-25" > <img src="https://img.icons8.com/bubbles/100/000000/user.png"
                                        class="img-radius" alt="User-Profile-Image"> </div>
                                <h6 class="f-w-600" style="color: white;"> {{ model.firstname }} {{ model.lastname  }} </h6>
                                <p style="color: white;">{{ model.age }}</p> <i
                                    class=" mdi mdi-square-edit-outline feather icon-edit m-t-10 f-16"></i>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="card-block">
                                <h6 class="m-b-20 p-b-5 b-b-default f-w-600">Primary Details</h6>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <p class="m-b-10 f-w-600">Username</p>
                                        <h6> {{ model.username}} </h6>
                                    </div>
                                </div><br><br>

                                <h6 class="m-b-20 p-b-5 b-b-default f-w-600">Contact Details</h6>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <p class="m-b-10 f-w-600">Email</p>
                                        <h6> {{ model.email}} </h6>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <p class="m-b-10 f-w-600">Phone</p>
                                        <h6> {{ model.phone }} </h6>
                                    </div>
                                </div>

                                <h6 class="m-b-20 m-t-40 p-b-5 b-b-default f-w-600">Subjects</h6>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <p>
                                            <span  *ngFor="let subject of model.subjects; let isLast=last">
                                                {{ subject.name}}{{isLast ? '' : ', '}}
                                            </span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>