.example-tab-icon {
    margin-right: 8px;
  }

  .mat-tab-label {
    height: 75px !important;
    padding: 5px;
    font-size: 30px;
}


  .mat-tab-group
  {
    margin: 30px !important;
    max-height: 80% !important;
  }

  

  
  

  

  

 