<mat-tab-group mat-stretch-tabs class="mat-elevation-z4">
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">people_alt</mat-icon>
        Students
      </ng-template>
      <app-database></app-database>
    </mat-tab>
  
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">auto_stories</mat-icon>
        Subjects
      </ng-template>
      <app-database-subjects></app-database-subjects>
    </mat-tab>
  </mat-tab-group>