<div class="container">

    <div class="form-container">
        <form [formGroup]="skillsForm" (ngSubmit)="skillsForm.valid && onSubmit()" #f="ngForm">
            <div class="form-group">
                <label class="col-sm-4" for="inputName"><b>Enter Your Name</b></label>
                <div class="col-sm-8">
                    <input formControlName="name" type="text" class="form-control" id="inputName"
                        aria-describedby="name" placeholder="Enter Name">
                </div>

                <div class="col-sm-4" *ngIf="(skillsForm.get('name').invalid && (skillsForm.get('name').touched || skillsForm.get('name').dirty))
                           ||((skillsForm).get('name').invalid && f.submitted)">
                    <span class="text-danger" *ngIf="skillsForm.get('name').errors.required">
                        Your Name is required.
                    </span>
                    <span class="text-danger" *ngIf="skillsForm.get('name').errors.minlength">
                        Minimum Name Length is 2.
                    </span>
                    <span class="text-danger" *ngIf="skillsForm.get('name').errors.pattern">
                        Only Alphabets and Spaces are allowed.
                    </span>
                </div>

            </div>

            <div formArrayName="skills" *ngFor="let skill of skillsForm.get('skills')['controls']; 
            let i = index">

                <form [formGroupName]=i>
                    <div>
                        <label class="col-sm-6" attr.for="{{'skillName'+i}}"><b>Enter Your Programming Skill</b></label>
                        <div class="form-row">

                            <div class="col-sm-6">
                                <input type="text" name="skillName" id="{{'skillName'+i}}" formControlName="skillName"
                                    class="form-control" placeholder=" {{'Skill'+ (i+1)}} ">
                            </div>
                            <div class="col" *ngIf="checkLength()>1">
                                <button class="btn btn-danger" type="button" (click)="removeSkill(i)">
                                    <i class="fas fa-minus"></i>
                                </button>
                            </div>

                        </div>


                        <div class="col-sm-4" *ngIf="skill.controls.skillName.invalid && (skill.controls.skillName.touched || skill.controls.skillName.dirty)
                                               ||(skill.controls.skillName.invalid && f.submitted) ">
                            <span class="text-danger" *ngIf="skill.controls.skillName.errors.required">
                                Please Enter Your Skill.
                            </span>
                        </div>

                    </div>

                </form>


            </div>

            <div class="">
                <button class="btn btn-success" (click)="addSkill()" [disabled]="skillsForm.get('skills').invalid">
                    <i class="fas fa-plus"></i>
                    Add
                </button>

                <button type="submit" class="btn btn-primary">Save</button>
            </div>


        </form>
    </div>


    <div class="table-container">
        <table class="col-sm-8">
            <tr *ngIf="userData.length>0">
                <th>Name</th>
                <th>Programming Languages</th>

            </tr>


            <tr *ngFor="let user of userData; let i = index">
                <td>
                    {{ user.userName }}
                </td>
                <td>
                    <span *ngFor="let skill of user.skillSet; let j = index">
                        <span *ngIf="j<user.skillSet.length-1">{{ skill.skillName + ', '}}</span>
                        <span *ngIf="j==user.skillSet.length-1">{{ skill.skillName}}</span>

                    </span>
                </td>
            </tr>


        </table>

    </div>

</div>